mixin alert_body(type)
  div.callout.alert-callout-border.message-box(class=type, data-closable)
    p#message-box-text
    button.close-button(area-label="Dismiss alert", type="button", data-close)
    span(aria-hidden="true") &times;

- var query = req.query.type;
if (query == "whoops")
  +alert_body("primary")

if (query == "mistake")
  +alert_body("secondary")

if (query == "oops")
  +alert_body("radius")

if (query == "error")
  +alert_body("radius alert")

if (query == "yay")
  +alert_body("success")

if (query == "caution")
  +alert_body("warning")