mixin contract_search()
  .grid-container
    .grid-x.grid-margin-x.text-center.align-middle
      .cell.small-3
        ul.menu
          li
            a.button(href="contract") Заключить договор
      .cell.small-9
        ul.menu
            li.li-style
              input.horizontal-fill(type='text' placeholder='Поиск...')
            li
              button.button.horizontal-fill.content-search(type='button') Искать

mixin edit_button(type)
  span.edit-button(edit_type=type) ✎

mixin contract_table(contracts)
  table#contracts_table

mixin edit_area()
  div#data_area