//- Include JavaScript files for front-end frameworks
script(type="text/javascript" src="javascripts/vendor/jquery.js")
script(type="text/javascript" src="javascripts/vendor/what-input.js")
script(type="text/javascript" src="javascripts/vendor/foundation.min.js")
script(type="text/javascript" src="javascripts/app.js")
//- Include CSS
link(rel="stylesheet", href="stylesheets/foundation.min.css")
link(rel="stylesheet", href="stylesheets/app.css")
//- Include Fonts
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Slab")