mixin menu_link(url, title)
    a(href=url): h5=title

.grid-container.fluid#navbar
    .grid-x.align-center
        +menu_link("/", "Главная")
        +menu_link("/deposit/", "Депозиты")
        +menu_link("/credit/", "Кредиты")
        +menu_link("/user", "Личный кабинет")
        +menu_link("/info", "Справка")
        

