div.title-bar
    div.title-bar-left
        button.menu-icon(type=button)
        span.title-bar-title Банк
    div.top-bar-right
        ul.menu
            li
                input(type="search" placeholder="Search")
            li
                button.button(type="button") Search