.title-bar
    .title-bar-left
        button.menu-icon(type=button)
        span.title-bar-title ОАО "БПБ" Банк
    .top-bar-right
        ul.menu
            li
                input(type="search" placeholder="Поиск...")
            li
                button.button(type="button") Искать