extends layout

block header
  h1 Кредиты 
  p Только у нас вклады и депозиты оформляются нейросетями!

block content
  include includes/contract.pug
  +contract_search()
  h5 Кредиты
  +contract_table(data)