extends layout

block header
  h1 Депозиты 
  p Только у нас вклады и депозиты оформляются нейросетями!

block content
  include includes/contract.pug
  +contract_search()
  h5 Депозиты
  +contract_table(data)
  +edit_area()