extends layout

block header
  h1 Редактирование записей 
  p Редактируйте записи, исправляйте ошибки и вносите новые данные.

block content
  include includes/contract.pug
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.small-2.sticky-container(data-sticky-container)
        .sticky(data-sticky, data-anchor="data", data-sticky-on="small")
          ul.menu.vertical(data-magellan)
            li: a(href="#rates") Тарифы
            li: a(href="#clients") Клиенты
            li: a(href="#employees") Сотрудники
            li: a(href="#departments") Отделы
            li: a(href="#positions") Должности
      .cell.small-10#data(data-something)