extends layout

block header
  h1 Редактирование записей 
  p Редактируйте записи, исправляйте ошибки и вносите новые данные.

mixin functional-buttons(group)
  div.button-group.expanded
    input.button(type="submit", group=group, act="accept", value="✓")
    input.button(type="submit", group=group, act="add", value="+")

block content
  include includes/contract.pug
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.small-2.sticky-container(data-sticky-container)
        .sticky(data-sticky, data-anchor="data", data-sticky-on="small")
          ul.menu.vertical(data-magellan)
            li: a(href="#rates") Тарифы
            li: a(href="#clients") Клиенты
            li: a(href="#employees") Сотрудники
            li: a(href="#departments") Отделы
            li: a(href="#positions") Должности

      .cell.small-10#data(data-something)
        div.horizontal-fill
          iframe(src="/edit?type=rates", frameborder="0")
        div.horizontal-fill
          iframe(src="/edit?type=clients", frameborder="0")
        div.horizontal-fill
          iframe(src="/edit?type=employees", frameborder="0")
        div.horizontal-fill
          iframe(src="/edit?type=departments", frameborder="0")
        div.horizontal-fill
          iframe(src="/edit?type=positions", frameborder="0")

        h5#positions Должности
        table#positions_table
        .grid-container#positions_edit
          .grid-x.grid-margin-x
            .cell.small-4
              input#position_data_id(type="hidden")
              input#position_name(type="text", placeholder="Должность...")
            .cell.small-4
              input#position_salary(type="text", placeholder="Оклад...")
            .cell.small-4
              +functional-buttons("positions")