mixin functional-buttons(group)
  div.button-group.expanded
    input.button(type="submit", group=group, act="accept", value="✓")
    input.button(type="submit", group=group, act="add", value="+")

- var show_all = req.query.type == "";
if (show_all || req.query.type == "rates")
  h5#rates Тарифы
  table#rates_table
  .grid-container#rates_edit
    .grid-x.grid-margin-x
      .cell.small-3
        input#rate_data_id(type="hidden")
        input#rate_name(type="text", placeholder="Название...")
      .cell.small-3
        input#rate_amount(type="text", placeholder="Сумма...")
      .cell.small-2
        input#rate_percent(type="text", placeholder="Процент...")
      .cell.small-2
        select#rate_select
          option Кредит
          option Депозит
      .cell.small-2
        +functional-buttons("rates")

if (show_all || req.query.type == "clients")
  h5#clients Клиенты
  table#clients_table
  .grid-container#clients_edit
    .grid-x.grid-margin-x
      .cell.small-4
        input#client_data_id(type="hidden")
        input#client_surname(type="text", placeholder="Фамилия...")
      .cell.small-4
        input#client_name(type="text", placeholder="Имя...")
      .cell.small-4
        input#client_patronymic(type="text", placeholder="Отчество...")
    .grid-x.grid-margin-x
      .cell.small-4
        input#client_birth_date(type="date")
      .cell.small-4
        input#client_address(type="text", placeholder="Адрес...")
      .cell.small-4
        +functional-buttons("clients")

if (show_all || req.query.type == "employees")
  h5#employees Сотрудники
  table#employees_table
  .grid-container#employees_edit
    .grid-x.grid-margin-x
      .cell.small-4
        input#employee_data_id(type="hidden")
        input#employee_surname(type="text", placeholder="Фамилия...")
      .cell.small-4
        input#employee_name(type="text", placeholder="Имя...")
      .cell.small-4
        input#employee_patronymic(type="text", placeholder="Отчество...")
    .grid-x.grid-margin-x
      .cell.small-3
        input#employee_birth_date(type="date")
      .cell.small-3
        select#department_select
      .cell.small-3
        select#position_select
      .cell.small-3
        +functional-buttons("employees")

if (show_all || req.query.type == "departments")
  h5#departments Отделы
  table#departments_table
  .grid-container#departments_edit
    .grid-x.grid-margin-x
      .cell.small-10
        input#department_data_id(type="hidden")
        input#department_address(type="text", placeholder="Адрес...")
      .cell.small-2
        +functional-buttons("departments")

if (show_all || req.query.type == "positions")
  h5#positions Должности
  table#positions_table
  .grid-container#positions_edit
    .grid-x.grid-margin-x
      .cell.small-4
        input#position_data_id(type="hidden")
        input#position_name(type="text", placeholder="Должность...")
      .cell.small-4
        input#position_salary(type="text", placeholder="Оклад...")
      .cell.small-4
        +functional-buttons("positions")