extends layout

block header
  h1 Добро пожаловать в ОАО "БелПрограммистБанк"
  p Только у нас вклады и депозиты оформляются нейросетями!

mixin table-header(text)
  .cell.small-4.table#table-header: h5= text

mixin table-body(text, img_url, link)
  .cell.small-4.table#table-body
    a(href=link)
      img.table-img(src=img_url)
    p= text

block content
  .grid-container.text-center
    .grid-x.grid-margin-x
      +table-header("Депозит")
      +table-header("Личный кабинет")
      +table-header("Кредит")
    .grid-x.grid-margin-x
      +table-body("Выгодные депозиты с высокой процентной ставкой", "/images/deposit.png", "/deposit")
      +table-body("Осуществляйте платежи 24/7", "/images/rates.png", "/user")
      +table-body("Доступное кредитование с гибким графиком выплат", "/images/credit.png", "/credit")