extends layout

block header
  h1 Справка
  p О компании, отделах и сотрудниках

block content
  -
    var employees = [
      { surname: 'Романенко', name: 'Роман', patronymic: 'Александрович', birth: '08-08-1997', dep_num: '1' },
      { surname: 'Стухальский', name: 'Алексей', patronymic: 'Леонидович', birth: '31-08-1998', dep_num: '2' },
      { surname: 'Васильев', name: 'Иван', patronymic: 'Петрович', birth: '19-01-1986', dep_num: '3' }
    ]
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.small-2
        .menu.vertical
          li: a.clients Клиенты 
          li: a.employees Сотрудники
          li: a.rates Тарифы
          li: a.departments Отделы
          li: a.positions Должности
      .cell.small-9.auto
        table
          tbody
            tr
              td
                img(src="/images/database.png")
              td
                h3 Выберите желаемый набор данных для отображения