extends layout

block header
  h1 Справка
  p О компании, отделах и сотрудниках

block content
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.small-2.sticky-container(data-sticky-container)
        .sticky(data-sticky, data-anchor="data", data-sticky-on="small")
          ul.menu.vertical(data-magellan)
            li: a.clients Клиенты 
            li: a.employees Сотрудники
            li: a.rates Тарифы
            li: a.departments Отделы
            li: a.positions Должности
      .cell.small-10#data
        table.vertical-fill
          tbody
            tr
              td
                img(src="/images/database.png")
              td
                h3 Выберите желаемый набор данных для отображения