head
  //- Included only for test page. Remove after task passing
  script(type="text/javascript" src="javascripts/test.js")
  include includes/framework.pug
body
-
  var planets_info = [
    { name: 'Сатурн', num: '17'},
    { name: 'Юпитер', num: '16'},
    { name: 'Уран', num: '14'},
    { name: 'Марс', num: '2'},
    { name: 'Нептун', num: '2'},
    { name: 'Земля', num: '1'},
    { name: 'Плутон', num: '1'}
  ]

.grid-container(style="max-width: 100%")
  .grid-x.grid-margin-x
    .cell.small-3
      h4 Задание-минимум 1
      table.text-center
        tr
          th Планета
          th Количество спутников
        each p in planets_info
          tr
            td= p.name
            td= p.num
      div      
        input#satellite_num(type="text", placeholder="Введите количество спутников...")
        h5#satellite_res 
        input.button.content-control(type="button", onclick="task1('satellite_num', 'satellite_res')", value="Послать запрос") 
    .cell.small-5
      h4 Задание-минимум 2
      input#arr(type="text", placeholder="Введите числа через пробел...")
      h5 Введённый массив:
      h5#arr_out
      h5#max_min Максимум и минимум
      h5#summ1 Сумма чисел с нечётными индексами:
      h5#summ2 Сумма чисел с чётными индексами:
      h5 Сжатый массив:
      h5#zip_arr
      h5 По убыванию:
      h5#st_desc
      h5 По возрастанию:
      h5#st_asc 
      input.button.content-control(type="button", onclick="task2('arr', 'arr_out', 'max_min', 'summ1', 'summ2', 'zip_arr', 'st_desc', 'st_asc')", value="Выполнить")
    .cell.small-4
      h4 Задание-минимум 3
      input#line(type="text", placeholder="Введите строку...")
      h5#word_num Количество слов:
      h5 Длиннейшее слово:
      h5#longest_word 
      h5 Слова с заглавной буквой
      h5#spec_words
      input.button.content-control(type="button", onclick="task3('line', 'word_num', 'longest_word', 'spec_words')", value="Выполнить")
.grid-container(style="max-width: 100%")
  .grid-x.grid-margin-x
    .cell.small-6
      h4 Задание на 7-8
      input#amount(type="text", placeholder="Введте сумму кредита...")
      input#rate(type="text", placeholder="Введте ежемесячную процентную ставку...")
      input#months(type="text", placeholder="Введте срок (в месяцах)...")
      h5#cash
      input.button.content-control(type="button", onclick="calc_cash('amount', 'rate', 'months', 'cash')", value="Рассчитать")
    .cell.small-6
      h4 Задание на 9-10
      h5 Введите уравнение плоскостей:
      div(style="display: inline")
        .grid-x.align-middle
          input#x1(type="text", placeholder="1", style="max-width: 12.5%; margin: 0 0;")
          h5 x+
          input#y1(type="text", placeholder="2", style="max-width: 12.5%; margin: 0 0;")
          h5 y+
          input#z1(type="text", placeholder="3", style="max-width: 12.5%; margin: 0 0;")
          h5 z+
          input#a1(type="text", placeholder="4", style="max-width: 12.5%; margin: 0 0;")
          h5 =0
      h6 и
      div(style="display: inline")
        .grid-x.align-middle
          input#x2(type="text", placeholder="1", style="max-width: 12.5%; margin: 0 0;")
          h5 x+
          input#y2(type="text", placeholder="2", style="max-width: 12.5%; margin: 0 0;")
          h5 y+
          input#z2(type="text", placeholder="3", style="max-width: 12.5%; margin: 0 0;")
          h5 z+
          input#a2(type="text", placeholder="4", style="max-width: 12.5%; margin: 0 0;")
          h5 =0
      div(style="display: inline")
        .grid-x.align-middle
          h5 Точность:
          select#acc(style="max-width: 10%; margin: 12 5;")
            option 0
            option 1
            option 2
            option 3
          input.button(type="button", onclick="calc_deg('x1', 'y1', 'z1', 'x2', 'y2', 'z2', 'acc', 'deg_res')", value="Рассчитать", style="margin: 12 5")
      h5#deg_res Угол между прямыми:
        