extends layout

block header
  h1 Личный кабинет 
  p Производите денежные взносы и проверяйте состояние активных контрактов.

block content
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.small-2.sticky-container(data-sticky-container)
        .sticky(data-sticky, data-anchor="data", data-sticky-on="small")
          ul.menu.vertical(data-magellan)
            li: a(href="#active-contracts") Активные договора
            li: a(href="#graph") График выплат по договору
            li: a(href="#calculators") Калькулятор выплат
      .cell.small-10#data(data-something)
        div#active-contracts(data-something)
        label Имя клиента:
        .grid-x
          .cell.small-4
            select#client
              each c in clients
                option= c.surname + ' ' + c.name + ' ' + c.patronymic
        label Активные договора клиента:
        table
        
        div#graph
        div#calculators