extends layout

block header
  h1 Личный кабинет 
  p Производите денежные взносы и проверяйте состояние активных контрактов.

block content
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.small-2.sticky-container(data-sticky-container="true")
        .sticky(data-sticky, data-anchor="data", data-sticky-on="small")
          ul.menu.vertical(data-magellan="true")
            li: a(href="#active-contracts") Активные договора
            li: a(href="#graph") График выплат по договору
            li: a(href="#calculators") Калькулятор выплат
      .cell.small-10#data(data-something)
        div#active-contracts(data-something)
          h5 Активные договора
          img(src="/images/database.png")
        div
          img(src="/images/database.png")
        div#graph
          h5 График выплат по договору
          img(src="/images/database.png")
        div
          img(src="/images/database.png")
        div#calculators
          h5 Калькулятор выплат
          img(src="/images/database.png")
        div
          img(src="/images/database.png")