extends layout

block header
  h1 Личный кабинет 
  p Производите денежные взносы и проверяйте состояние активных контрактов.

block content
  .grid-container.fluid
    .grid-x.grid-margin-x
      .cell.small-2.sticky-container(data-sticky-container)
        .sticky(data-sticky, data-anchor="data", data-sticky-on="small")
          ul.menu.vertical(data-magellan)
            li: a(href="#active-contracts") Активные договора
            li: a(href="#graph") График выплат по договору
            li: a(href="#calculators") Калькулятор выплат
      .cell.small-10#data(data-something)
        div#active-contracts(data-something)
        .grid-x.grid-margin-x
          .cell.small-6
            label Имя клиента:
            select#client_select
              each c in clients
                option(client_id = c.client_id)= c.surname + ' ' + c.name + ' ' + c.patronymic
          .cell.small-6
            label Активные договора клиента:
            select#contract_select
        div#table        
        div#graph
        div#calculators