html {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto Slab', serif;
    cursor: default;
}

a * {
    cursor: pointer;
}

li > a {
  color: black;
}

li > a:hover {
  color: slategrey;
}

body {
    font-family: 'Roboto Slab', serif;
    box-shadow: 0 0 30px;
    margin: 0 auto;
    max-width: 90em;
}

#header {
    background-image: url("/images/clouds.jpg");
    background-size: cover;
    height: 23em;
}

#header .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#header img {
    width: 55rem;
}

#navbar {
    padding: .5rem;
    background-color: #0a0a0a;
    align-items: center;
    width: 100%;
}

#navbar div a h5 {
    margin: .5rem;
    color: white;
}

#navbar div a h5:hover {
    color: #BFBFBF;
}

#content {
    background-color: #E5E5E5;
    padding: 0.9rem;
}

.table {
    box-shadow: 0 0 10px;
    padding: 0.5rem;
}

.edit-button {
    font-weight: 100;
    color: #cacaca;
    border: 0.05em solid #cacaca;
    border-radius: 0.3em;
    padding: 0 0.2em 0 0.2em;
}

.edit-button:hover {
    font-weight: 100;
    color: #1779ba;
    cursor: pointer;
    border: 0.05em solid #1779ba;
    border-radius: 0.3em;
    padding: 0 0.2em 0 0.2em;
}

.table-body-transparent {
    border: none;
    background-color: transparent;
}

.no-margin {
    margin: 0 0 0 0;
}

#table-header {
    background: #0a0a0a;
    color: white;
}

#table-header h5 {
    margin: 0;
}

#table-body {
    background: white;
    border: 0.2rem solid black;
}

#table-body img {
    max-width: 9em;
    min-width: 8em;
    width: 8em;
}

.vertical-fill {
  height: 100%;
}

.horizontal-fill {
  width: 100%;
}

.top-margin {
    margin-top: 0.25em;
}

.li-style {
    width: 80%;
}

.content-search {
    margin-left: 0.5em;
}

.message-box {
    position: fixed;
    right: 50%;
    top: 10%;
}

#footer {
    padding: .5rem;
    background-color: #0a0a0a;
    align-items: center;
    width: 100%;
}

#footer div {
    margin: .5rem;
    color: #BFBFBF;
}