body {
    box-shadow: 0 0 30px;
    margin: 0 auto;
    max-width: 90em;
}

#header {
    background-image: url("/images/clouds.jpg");
    background-size: cover;
    height: 23em;
}

#header .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#header .grid-x {
    margin: auto 0;
}